.logo1{
    position: relative;
    left: -200px;
    font-size: 25px;
}
.logo1:hover{
    color: white;
}
@media only screen and (max-width: 375px) {
    .logo1{
        left: -130px;
        font-size: 25px;
    }
}